# Get the observed composite resource into a variable.
{{ $xr := getCompositeResource . }}
{{ $spec := $xr.spec }}

{{ $aws := $spec.aws | default (dict) }}
{{ $clusterName := $spec.clusterName }}
{{ $deletionPolicy := $spec.deletionPolicy | default "Delete" }}

# Provider Config defaults to clusterName when provided, otherwise "default".
{{ $awsProviderConfig := $aws.providerConfig | default $clusterName | default "default" }}
